@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #333;
  background: #f9fafb;
  cursor: pointer;
  font-family: TimeTraveler, Arial, Helvetica, sans-serif
}

@layer utilities {
  ::selection {
    background-color: #646ecb;
    color: white;
  }
}

button {
  cursor: pointer;
}